@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: url('./img/background1.png');
  background-repeat: no-repeat;
  background-position-y: top;
}

#servicios{
  background: url('./img/background2.png');
  background-repeat: no-repeat;
  background-position-y: top;
}

#informacion{
  background: url('./img/background4.png');
  background-repeat: no-repeat;
  background-position-y: bottom;
}

.spinner-size{
  width: 5rem;
  height: 5rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img-height{
  height: 13em;
}

#my-brand, footer, .lobster-font{
  font-family: 'Lobster Two', cursive;
}

.brand-title{
  font-size: 4em;
}

#main-card-title, #ul-nav, #subtitle{
  font-family: 'Nunito', sans-serif;
  font-size: 1.8em;
}

.text-darkblue{
  color: rgb(37, 37, 116);
}